---
import "../styles/devStack.scss";
import "../styles/moreAbout.scss";
import Icon from "astro-icon";

import google from "/icons/google-ads.svg?url";
import facebook from "/icons/facebook.svg?url";
import tiktok from "/icons/tiktok.svg?url";

import node from "/icons/node.svg?url";
import java from "/icons/java.svg?url";
import php from "/icons/php.svg?url";
import express from "/icons/express.svg?url";

import flutter from "/icons/flutter.svg?url";
import swift from "/icons/swift.svg?url";
import kotlin from "/icons/kotlin.svg?url";

import postgresql from "/icons/postgresql.svg?url";
import mysql from "/icons/mysql.svg?url";
import mongodb from "/icons/mongodb.svg?url";
import firebase from "/icons/firebase.svg?url";
---

<section class="stack">
  <div class="stack__container">
    <div class="stack__top">
      <h2 class="stack__title">TECHNOLOGY<br /> STACK</h2>
      <div class="categs">
        <button class="categ categ-active">ADS</button>
        <button class="categ">SMM</button>
        <button class="categ">E-MAIL</button>
        <button class="categ">SEO</button>
      </div>
    </div>
    <!-- ADS -->
    <div class="figures">
      <div class="figure stack--figure">
        <img src={google} class="stack--figure__logo" />
        <p class="figure__text">Google Ads</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={facebook} class="stack--figure__logo" />
        <p class="figure__text">Facebook Ads</p>
        <div class="figure__circle"></div>
      </div>

      <div class="figure">
        <img src={tiktok} class="stack--figure__logo" />
        <p class="figure__text">TikTok Ads</p>
        <div class="figure__circle"></div>
      </div>
    </div>
    <!-- SMM -->
    <div class="figures hidden-stack">
      <div class="figure stack--figure">
        <img src={flutter} class="stack--figure__logo" />
        <p class="figure__text">Flutter</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={swift} class="stack--figure__logo" />
        <p class="figure__text">Swift</p>
        <div class="figure__circle"></div>
      </div>

      <div class="figure">
        <img src={facebook} class="stack--figure__logo" />
        <p class="figure__text">React Native</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={kotlin} class="stack--figure__logo" />
        <p class="figure__text">Kotlin</p>
        <div class="figure__circle"></div>
      </div>
    </div>
    <!-- EMAIL -->
    <div class="figures hidden-stack">
      <div class="figure stack--figure">
        <img src={flutter} class="stack--figure__logo" />
        <p class="figure__text">Flutter</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={swift} class="stack--figure__logo" />
        <p class="figure__text">Swift</p>
        <div class="figure__circle"></div>
      </div>

      <div class="figure">
        <img src={facebook} class="stack--figure__logo" />
        <p class="figure__text">React Native</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={kotlin} class="stack--figure__logo" />
        <p class="figure__text">Kotlin</p>
        <div class="figure__circle"></div>
      </div>
    </div>
    <!-- SEO -->
    <div class="figures hidden-stack">
      <div class="figure stack--figure">
        <img src={flutter} class="stack--figure__logo" />
        <p class="figure__text">Flutter</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={swift} class="stack--figure__logo" />
        <p class="figure__text">Swift</p>
        <div class="figure__circle"></div>
      </div>

      <div class="figure">
        <img src={facebook} class="stack--figure__logo" />
        <p class="figure__text">React Native</p>
        <div class="figure__circle"></div>
      </div>
      <div class="figure">
        <img src={kotlin} class="stack--figure__logo" />
        <p class="figure__text">Kotlin</p>
        <div class="figure__circle"></div>
      </div>
    </div>
  </div>
</section>

<script>
  const figures = document.querySelectorAll(".figures");
  const categButtons = document.querySelectorAll(".categ");
  const showFigure = function (figure) {
    figures.forEach(el => el.classList.add("hidden-stack"));
    figure.classList.remove("hidden-stack");
  };
  categButtons.forEach((btn, index) => {
    btn.addEventListener("click", () => {
      categButtons.forEach(el => el.classList.remove("categ-active"));
      btn.classList.add("categ-active");
      switch (index) {
        case 0:
          showFigure(figures[0]);
          addCircleListeners();

          break;
        case 1:
          showFigure(figures[1]);
          addCircleListeners();

          break;
        case 2:
          showFigure(figures[2]);
          addCircleListeners();

          break;
        case 3:
          showFigure(figures[3]);
          addCircleListeners();

          break;
      }
    });
  });

  /* Handels circle move */
  const handeleMouseEnter = function (e) {
    const { currentTarget: target } = e;
    const rect = target.getBoundingClientRect(),
      x = ((e.clientX - rect.left) * 100) / 238,
      y = ((e.clientY - rect.top) * 100) / 238;

    target.style.setProperty("--mouse-x", `${x}%`);
    target.style.setProperty("--mouse-y", `${y}%`);
  };
  const handleCircleMove = function (e) {
    const { currentTarget: target } = e;
    const width = target.offsetWidth;
    const rect = target.getBoundingClientRect();
    const circleX = e.clientX - rect.left;
    const circleY = e.clientY - rect.top;

    const centerX = width / 2;
    const centerY = width / 2;

    const positionX = (circleX - centerX) / 50;
    const positionY = (circleY - centerY) / 50;
    target.style.setProperty("--move-x", positionX + "rem");
    target.style.setProperty("--move-y", positionY + "rem");
  };
  const resetePosition = function (e) {
    const { currentTarget: target } = e;

    target.style.setProperty("--move-x", 0);
    target.style.setProperty("--move-y", 0);
  };

  function addCircleListeners() {
    for (const circle of document.querySelectorAll(".figure")) {
      (circle as HTMLElement).onmousemove = e => {
        handeleMouseEnter(e);
        handleCircleMove(e);
      };
    }
  }
  addCircleListeners();
</script>
