---
import "../styles/About.scss";
import team from "/images/team.jpg?url";
import member1 from "/images/adam.jpg?url";
import member2 from "/images/ali.jpg?url";
import member3 from "/images/annah.jpg?url";
import member4 from "/images/konan.jpg?url";
import member5 from "/images/ramae.jpg?url";
import member6 from "/images/samira.jpg?url";
import member7 from "/images/sophie.jpg?url";
import member8 from "/images/tamer.jpg?url";
import member9 from "/images/tom.jpg?url";
---

<section class="aboutus">
  <div class="aboutus__container">
    <div class="aboutus__left">
      <h1>meet our<br />Exceptional <br />team</h1>
      <div class="aboutus__left--bottom">
        <div class="aboutus__left--bottom-container">
          <p class="aboutus__left--bottom-number">2015</p>
          <p class="aboutus__left--bottom-text">Beta<br /> launch</p>
        </div>
        <div class="aboutus__left--bottom-container">
          <p class="aboutus__left--bottom-number">50+</p>
          <p class="aboutus__left--bottom-text">talented<br /> members</p>
        </div>
      </div>
    </div>
    <div class="aboutus__right">
      <img src={team} alt="team of developers smiling at the camera" />
    </div>
  </div>
  <p class="aboutus__desc">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;United by algorithms, we
    combine our team's skill. Matching businesses and designers, our mission,
    still. Creating connections, design dreams fulfill, Our team ensures each
    project's thrill.
  </p>

  <div class="team">
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member2} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Benjamin Anderson</p>
        <p class="member__role">Full Stack Developer</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member9} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Ethan Martinez</p>
        <p class="member__role">Graphic Designer</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member3} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Sophia Mitchell</p>
        <p class="member__role">Product Manager</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member4} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Omar Ali</p>
        <p class="member__role">SEO Expert</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member5} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Mia Miller</p>
        <p class="member__role">UX Designer</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member6} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Fatima Ahmed</p>
        <p class="member__role">Content Writer</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member7} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Grace Bennett</p>
        <p class="member__role">Full Stack Developer</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member8} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Elijah Davis</p>
        <p class="member__role">Marketing Specialist</p>
      </div>
    </figure>
    <!-- member -->
    <figure class="member">
      <span>
        <img src={member1} alt="team member of kitilab" />
      </span>
      <div class="member__bottom">
        <p class="member__name">Sebastian Taylor</p>
        <p class="member__role">UX Designer</p>
      </div>
    </figure>
  </div>
</section>
