---
import "../styles/Projects.scss";
import Icon from "astro-icon";
import ecom1 from "/images/ecom1.jpg?url";
import pro2 from "/images/ecom2.jpg?url";
import pro3 from "/images/brand1.jpg?url";
import pro4 from "/images/mobile1.jpg?url";
import barki from "/images/bark.jpg?url";
import brindy from "/images/brindy.jpg?url";
import furniTickle from "/images/furni-tickle.jpg?url";
import glossier from "/images/glossiere.jpg?url";
import gocab from "/images/gocab.jpg?url";
import hikmah from "/images/hikmah.jpg?url";
import hunian from "/images/huniane.jpg?url";
import mucards from "/images/mucards.jpg?url";
import polaris from "/images/polaris.jpg?url";
import realEstate from "/images/real-estate.jpg?url";
---

<section class="Projects">
  <div class="projects__container">
    <div class="projects__left">
      <h1 class="projects__title">
        our<br />best<br />works
      </h1>
      <div class="projects__left--bottom">
        <div>
          <h2>150+</h2>
          <p>projects<br />done</p>
        </div>

        <button class="projects__left--button"
          >see all
          <Icon
            class="projects__left--bottom-icon projects__left--bottom-icon-1"
            name="mdi:arrow-bottom"
          />
          <Icon
            class="projects__left--bottom-icon projects__left--bottom-icon-2"
            name="mdi:arrow-bottom"
          />
        </button>
      </div>
    </div>
    <div class="projects__right">
      <div class="projects__right--top">
        <img src={ecom1} alt="ecommerce website images build by our agency" />
      </div>
      <div class="projects__right--bottom">
        <p class="projects__right--type">e-commerce</p>
        <h3 class="projects__right--title">
          Lautsprecher the Audio Equipment Online Store Website
        </h3>
        <span>featured</span>
      </div>
    </div>
  </div>
  <p class="projects__desc">
    We've assisted more than 350 businesses in realizing their maximum
    potential, and we're eager to provide the same assistance to you! Discover
    how our expertise can make a meaningful impact on your success
  </p>
</section>
<section class="projects__list" id="projects__list">
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={barki} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Barki</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={brindy} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Brindy</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={furniTickle} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Furni Tickle</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={ecom1} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Lautsprecher</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={pro2} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Ordinal</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={glossier} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Glossier</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={gocab} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Gocab</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={pro3} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Canizo</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={hikmah} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Hikmah</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={hunian} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Hunian</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={mucards} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Mucards</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={polaris} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Polaris</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={pro4} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Monetto</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
  <!-- project -->
  <figure class="project">
    <span class="project__image">
      <img src={realEstate} alt="ecommerce website image" />
    </span>
    <div class="project__bottom">
      <p class="project__title">Real Estate</p>
      <span class="project__icon--container">
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
        <Icon class="project__icon" name="system-uicons:arrow-top-right" />
      </span>
    </div>
  </figure>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap-trial/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);
  const projects = document.querySelectorAll(".project");
  const projectSection = document.querySelector(".projects__list");
  const desc = document.querySelector(".projects__desc");
  const slpiteddesc = new SplitType(".projects__desc", { types: "chars" });
  const seeAllButton = document.querySelector(".projects__left--button");
  gsap.from(slpiteddesc.chars, {
    scrollTrigger: {
      trigger: desc,
      start: "top 85%",
      end: "top 10%",
      scrub: true,
      markers: false,
    },
    opacity: 0.4,
    stagger: 0.1,
  });

  projects.forEach(pro => {
    pro.addEventListener("mouseenter", e => {
      projects.forEach(el => el.classList.add("out-focus"));
      pro.classList.remove("out-focus");
    });
    pro.addEventListener("mouseleave", e =>
      projects.forEach(el => el.classList.remove("out-focus"))
    );
  });

  /*  */
  seeAllButton.addEventListener("click", e => {
    // const coords = projectSection.getBoundingClientRect();
    // window.scrollTo({
    //   left: 0,
    //   top: coords.top + window.scrollY - 30,
    //   behavior: "smooth",
    // });
    projectSection.scrollIntoView({ behavior: "smooth" });
  });
</script>
